<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>{% block title %}{% endblock %}</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css')}}" />
    </head>

    <body>
        <header class="flex">
            <a href="{{ url_for('home') }}" class="nav title">FLASK</a>
            <a href="{{ url_for('home') }}" class="nav">Home</a>
            <a href="{{ url_for('about') }}" class="nav">About</a>
            <a href="{{ url_for('get_data') }}" class="nav">Data</a>
            <a href="{{ url_for('raw') }}" class="nav">RAW</a>
        </header>

        <div class="root flex">
            {% block content %}{% endblock %}
        </div>
    </body>
</html>